.pm-icon-card {
  height: 100%;

  h4 {
    font-size: 1.5rem;
    color: var(--color-default);
    margin-bottom: 15px;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 0;
    color: var(--color-gray-darker);
  }

  i {
    font-size: 36px;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

}
