@import "variables";

/*******************************
*   CORES
********************************/

@function addColorSet($colorName, $colorValue) {
  $colors: map-merge($colors, ($colorName: $colorValue));
  @return $colors;
}

@each $key, $val in $main-colors {
  $colors: addColorSet(#{$key}, $val);
  $colors: addColorSet(#{$key}-pale, desaturate($val, 10%));
  $colors: addColorSet(#{$key}-states, darken($val, 10%));
  $colors: addColorSet(#{$key}-sat, saturate($val, 30%));
}


/* Função utilizada para transformar hexadecimal em rgb, assim podemos usar como variável em rgba
*  Ex: :root { --color-primary--rgb: #{hexToRGB($color-primary)}; }
*  Ex: background-color: rgba(var(--color-primary--rgb), 0.4) ;
*/
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

/*******************************
*   ROOT - FICAM APENAS VARIÁVEIS DE CSS!!
********************************/

:root {
  @each $key, $val in $colors {
    @if type-of($val) == color {
      --#{$key}: #{$val} !important;
      --#{$key}-rgb: #{hexToRGB($val)} !important;
    }
  }

  --bg-default:                                 #{$bg-default} !important;
  --bg-pale:                                    #{$bg-pale} !important;
  --color-font-default:                         #{$color-font-default} !important;
  --color-gray-light:                           #{$color-gray-light} !important;
  --color-gray-medium:                          #{$color-gray-medium} !important;
  --color-gray-dark:                            #{$color-gray-dark} !important;
  --color-gray-darker:                          #{$color-gray-darker} !important;

  @each $key, $val in $border-radiuss {
    --border-radius-#{$key}: #{$val} !important;
  }

  @each $key, $val in $border-widths {
    --border-width-#{$key}: #{$val} !important;
  }

  --bg-disabled:                                #{$bg-disabled} !important;
  --disabled-opacity:                           #{$disabled-opacity} !important;

  --navbar-height:                              #{$navbar-height} !important;
  --navbar-misc-bg:                             #{$navbar-misc-bg} !important;

  --sidebar-width:                              #{$sidebar-width} !important;
  --sidebar-mini-width:                         #{$sidebar-mini-width} !important;

  --general-content-width:                      #{$general-content-width} !important;

  --gradient-default-top:                       #{$gradient-default-top} !important;
  --gradient-default-right:                     #{$gradient-default-right} !important;
  --gradient-default-bottom:                    #{$gradient-default-bottom} !important;
  --gradient-default-left:                      #{$gradient-default-left} !important;
  --gradient-default:                           #{$gradient-default} !important;
}
