.pm-combo-box {
  mat-form-field {
    border-radius: var(--border-radius-md);

    .mat-mdc-text-field-wrapper {
      background-color: var(--color-primary);
      color: white;
      border-radius: var(--border-radius-md);

      max-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      * {
        color: white;
        font-weight: 600 !important;
      }

      &.mdc-text-field--focused {
        border-radius: var(--border-radius-md);
      }
    }

    .mat-mdc-form-field-bottom-align {
      height: 0px;
    }

    &.mat-focused {
      border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    }

    .mdc-line-ripple {
      display: none;
    }
  }
}

.pm-combo-box-overlay {
  $combo-box-overlay-background-color: var(--color-primary);
  $combo-box-overlay-background-color-hover: rgba(var(--color-light-rgb), 0.35);
  $combo-box-overlay-border-color: var(--color-primary-states);

  background-color: $combo-box-overlay-background-color !important;
  box-shadow: none;
  border-radius: var(--border-radius-md) !important;
  margin-top: 0.25em !important;
  // comentar as duas linhas de baixo para remover a borda degradê
  //background: linear-gradient($combo-box-overlay-background-color, $combo-box-overlay-background-color) padding-box, linear-gradient(to top, $combo-box-overlay-border-color, transparent) border-box;
  //border: 2px solid transparent;

  * {
    color: white !important;
    font-weight: 600 !important;
  }

  .mdc-list-item--selected,
  .mat-mdc-option-active {
    background: $combo-box-overlay-background-color-hover !important;

    *,
    .mat-pseudo-checkbox:after {
      color: var(--color-primary-states) !important
    }
  }

  .mat-mdc-option {
    &:hover {
      background: $combo-box-overlay-background-color-hover !important;
    }
  }
}

.mat-mdc-select-panel-above {
  .pm-combo-box-overlay {
    margin-bottom: 0.25em !important;
  }
}
