<mat-drawer-container class="pm-sidebar" [autosize]="true" fullscreen>

  <mat-drawer #drawer [mode]="isWindowWidthMobile() === true ? 'over' : 'side'">
    <app-sidebar-content
      *ngIf="sidebarEntries.length > 0"
      [sidebarEntries]="sidebarEntries"
      [drawer]="drawer"
    >
    </app-sidebar-content>
  </mat-drawer>

  <mat-drawer-content class="ion-content-scroll-host drawer-content">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-content w-100 mb-3">
        <svg (click)="drawer.toggle()"
             class="ham"
             [ngClass]="{'active': drawer.opened}"
             viewBox="0 0 100 100" width="40"
        >
          <path class="line top" d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381"/>
          <path class="line middle" d="m 30,50 h 40"/>
          <path class="line bottom" d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381"/>
        </svg>
        <span *ngIf="showBackButton"
              navigationBackButton
              class="d-flex justify-content-center align-items-center overflow-hidden color-gray-dark no-outline no-shadow cursor-pointer"
              style="max-height: 20px"
        >
                    <i class="uil uil-2x uil-angle-left text-center inline-block"></i>
        </span>
        <h4 style="width: -webkit-fill-available;" class="color-gray-dark m-0 ms-3 text-overflow">{{ label | async }}</h4>
        <span *ngIf="showNextButton && nextButtonAction"
              (click)="nextButtonAction()"
              class="d-flex justify-content-center align-items-center overflow-hidden color-gray-dark no-outline no-shadow cursor-pointer"
              style="max-height: 20px"
        >
            <i class="uil uil-2x uil-angle-right text-center inline-block"></i>
        </span>
      </div>
    </div>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>


</mat-drawer-container>
