.pm-sidebar {
  $navbar-bg: rgba(var(--bg-default-rgb), 1);
  $navbar-content-height: 40px; // necessário para saber
  $navbar-padding: 0.5em;
  $gradient-offset: $navbar-content-height * 0.7;
  --navbar-height: calc(#{$navbar-content-height} + #{2 * $navbar-padding} + #{$gradient-offset});

  .mat-drawer-content:after {
    position: absolute;
  }

  .mat-drawer {
    background-color: $navbar-bg;
    border-right: 1px solid var(--color-gray-light);
    padding: 1em 0px !important;
  }

  .drawer-content {
    position: relative;
    background-color: var(--bg-default);
    padding-top: var(--navbar-height);
    max-width: 100vw;
    overflow-x: hidden;

    .navbar {
      // border-bottom: 1px solid var(--color-gray-light);

      height: var(--navbar-height);
      max-height: var(--navbar-height);
      position: sticky;
      top: calc(-1 * var(--navbar-height));
      margin-top: calc(-1 * var(--navbar-height));
      z-index: 3;
      padding: 0;

      .navbar-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $navbar-bg;
        -webkit-mask-image: linear-gradient(to bottom, $navbar-bg 60%, transparent 100%);
        mask-image: linear-gradient(to bottom, $navbar-bg 60%, transparent 100%);
        // backdrop-filter: blur(4px);
        // -webkit-backdrop-filter: blur(4px);
      }

      .navbar-content {
        padding: $navbar-padding $navbar-padding calc(#{$navbar-padding} + #{$gradient-offset}) $navbar-padding;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .ham {
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          transition: transform 400ms;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .line {
            fill: none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: var(--color-gray-dark);
            stroke-width: 6;
            stroke-linecap: round;
          }

          .top, .bottom {
            stroke-dasharray: 40 121;
          }

          &.active {
            .top, .bottom {
              stroke-dashoffset: -102px;
            }
          }
        }

        .hamRotate.active {
          transform: rotate(45deg);
        }

        .hamRotate180.active {
          transform: rotate(180deg);
        }

      }
    }
  }
}
