<button
  [className]="getClassName()"
  [ngClass]="{
    'disabled': disabled,
    'justify-content-center': justifyContent === 'center',
    'justify-content-start': justifyContent === 'start'
  }"
  [disabled]="busy || disabled"
>
  <ng-container *ngIf="busy; else buttonContent">
    <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
    {{busyText ? busyText : ''}}
  </ng-container>
</button>

<ng-template #buttonContent>
  <i *ngIf="iconClass && busy === false && iconPosition === 'start'" class="{{iconClass}}"></i>
  <ng-container>
    <span
      class="align-self-center text-overflow"
      [ngClass]="{'ms-2': iconClass && label && iconPosition === 'start', 'me-2': iconClass && label && iconPosition === 'end'}"
    >
      <ng-container [ngSwitch]="!!label">
        <ng-container *ngSwitchCase="true">
          {{label}}
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <ng-content></ng-content>
        </ng-container>
      </ng-container>
    </span>
  </ng-container>
  <i *ngIf="iconClass && busy === false && iconPosition === 'end'" class="{{iconClass}}"></i>
</ng-template>

