.cursor-drag {
  @include grab-cursor;

  &:active {
    @include grabbing-cursor;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-none {
  cursor: default;
  pointer-events: none;
}

.cursor-disabled {
  cursor: not-allowed;
  pointer-events: none;
}
