$list-item-height:        60px !default;
$item-border-width:       1px  !default;
$default-border-radius:   var(--border-radius-md) !default;

.table-item-container {
  @extend .card-basic;
  margin: 0px;
  max-width: 100%;
  min-height: $list-item-height;
  display: block;
  background: #FFFFFF;
  border-left-width: 0px;
  overflow: hidden;
  border-radius: 0 !important;
  border: $item-border-width solid #dbdee3;

  &.rounded {
    border-radius: $default-border-radius !important;

    .draggable-item {
      &:first-child {
        border-radius: $default-border-radius $default-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $default-border-radius $default-border-radius;
        border: none;
      }
    }
  }

  &.rounded-right {
    border-radius: 0 $default-border-radius $default-border-radius 0 !important;

    .draggable-item {
      &:first-child {
        border-radius: 0 $default-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $default-border-radius 0;
        border: none;
      }
    }
  }

  .img-thumbnail {
    min-width: 60px !important;
    width: 60px !important;
    max-width: 100px !important;
    background-color: transparent !important;
    border: none !important;

    img {
      padding: 2px;
      max-height: 60px;
    }
  }
}

.table-item-container-no-index {
  @extend .table-item-container;
  border-radius: $default-border-radius !important;
}

.table-item-container.cdk-drop-list-dragging .draggable-item:not(.draggable-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-item-index-container{
  overflow: hidden;
  border: $item-border-width solid #dbdee3;
  border-right-width: 0px;
  box-shadow: None;

  &.rounded {
    border-radius: $default-border-radius !important;
  }

  &.rounded-left {
    border-radius: $default-border-radius 0 0 $default-border-radius;
  }

  .draggable-item-index {
    background-color: #dbdee3;
    height: $list-item-height;
    max-height: $list-item-height;
    width: 30px;

    i,
    p {
      margin: 0px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-default-pale);
      font-weight: bold;
    }

    i {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.draggable-item {
  padding: 10px 20px;
  border-bottom: solid $item-border-width var(--color-gray-light);
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  max-height: $list-item-height;
  height: $list-item-height;

  .sub-p {
    color: #c0c0c0;
  }
}

.draggable-item-no-index {
  @extend .draggable-item;
  padding-left: 10px !important;

  &:first-child {
    border-radius: $default-border-radius $default-border-radius 0 0 !important;
  }

  &:last-child {
    border-radius: 0 0 $default-border-radius $default-border-radius !important;
    border: none;
  }
}

.draggable-item-selected {
  padding: 7px 17px !important;
  border: 3px solid #50a4da69 !important;
}

.draggable-item-selected-no-index {
  @extend .draggable-item-selected;
  padding-left: 7px !important;
}

.draggable-placeholder {
  @extend .draggable-item;
  background: #ebf3ff;
  border: dotted 2px #c2daff;
  min-height: $list-item-height;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  &:last-child {
    border: dotted 2px #c2daff;
  }
}

.cdk-drag-preview {
  @extend .draggable-item;
  box-sizing: border-box;
  border-radius: 0px !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.move-icon-container {
  align-self: center;
  margin-right: 10px;

  i {
    color: #cfd2d4;
    text-shadow: 0px 0px 1px #eee, 0 0 0 #f5f5f5, 0px 0px 5px #eee;
  }
}

.spare-table-item {
  background-color: var(--color-light-pale);
  padding: 0.5em;
  border-radius: $default-border-radius;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: var(--color-default);
}
