$padding-default: 12px;

.mdc-menu-panel {
  border-radius: var(--border-radius-default) !important;
  font-size: 15px !important;

  .mdc-menu-content {
    padding: $padding-default !important;

    ul {
      padding: 0px;
      margin: -$padding-default;

      li {
        cursor: pointer;
        padding: $padding-default*0.5 $padding-default;
        min-height: 35px;
        min-width: 150px;
        color: var(--color-default);

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: rgba(var(--color-default-pale-rgb), 0.2);
        }
      }
    }

    .form-check {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}

.mat-optgroup {
  .mat-optgroup-label {
    font-size: 16px;
    margin: 0px;
  }

  .mat-mdc-option {
    padding-left: 16px !important;
  }
}
