.horizontal-tabs {
  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-tab-label {
    margin-right: 0.5rem;
  }

  .mat-tab-label:last-child {
    margin-right: 0px;
  }

  .mat-tab-label {
    font-size: 15px;
    background-color: transparent;
    border-radius: var(--border-radius-xxl);
    height: 45px;
    min-width: 25px !important;
    padding: 5px;
    color: var(--color-default);
    font-weight: 500;
    width: 120px !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.mat-tab-label-active {
      background-color: rgba(var(--color-primary-states-rgb), 0.1);
      color: var(--color-primary-states);
      font-weight: 600;
    }
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-ink-bar {
    visibility: hidden !important;
    display: none !important;
    height: 100%;
    background-color: #51cbce33 !important;
  }

  .mat-tab-body-wrapper {
    flex: 1 1 auto;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;

    label {
      margin-top: 12px;
      margin-bottom: 5px;
      color: var(--color-default);
    }

    .btn-tooltip-sm {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      padding: 0px;
    }

    .bool-div-container {
      margin-top: 12px;
      margin-bottom: 5px;
    }
  }

  &.sticky-tabs {
    .mat-tab-header {
      position: sticky;
      top: 0;
      background: rgba(var(--bg-default-rgb), 0.8);
      backdrop-filter: blur(5px);
      padding: 0.5em 0px;
      width: inherit;
      z-index: 2;
      padding: 0.5em;
    }

    .mat-tab-body-content {
      padding: 0px 1em;
    }

    .selected-display {
      color: var(--color-primary-states);
      text-shadow: 0 0 3px var(--color-primary);
    }

    @media screen and (min-width: 992px) {
      .mat-tab-label-content {
        i {
          display: none;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .mat-ink-bar {
        height: 3px;
        top: 0 !important;
        visibility: visible !important;
        background-color: var(--color-primary) !important;
        border-radius: 50px;
        display: block !important;
      }

      /**
       * Essa outra classe é apenas para sobrescrever a mat-ink-bar original
       * Que aí ela mesmo com o fill width fica com a inkbar apenas em 50 do tamanho, mais bonito no mobile
       */
      .mat-ink-bar {
        background-color: transparent !important;
        &::before {
          content: '';
          display: block;
          width: 50%;
          background-color: var(--color-primary);
          height: 3px;
          border-bottom-right-radius: 50px;
          border-bottom-left-radius: 50px;
          margin: 0 auto;
          position: relative;
        }
      }

      .mat-tab-header {
        background: rgba(var(--bg-default-rgb), 1);
        backdrop-filter: blur(2px);
        border-top: 1px solid var(--color-gray-medium);
        bottom: 0 !important;
        left: 0 !important;
        padding: 0px !important;
        position: fixed !important;
        top: unset !important;
        width: 100%;
        z-index: 999;

        .mat-tab-list {
          transform: unset !important;
        }

        mat-tab-group {
          height: auto !important;
        }

        .mat-tab-label {
          height: auto;
          opacity: 1;

          &:not(.mat-tab-label-active) {
            color: var(--color-gray-medium) !important;
          }
        }

        .mat-tab-label-active {
          text-shadow: 0 0 12px rgba(var(--color-primary-pale-rgb), 0.2);
          background-color: transparent !important;
        }

        .mat-tab-label-content {
          display: flex;
          flex-direction: column;

          span {
            font-size: 0.8em !important;
          }
        }
      }

      .mat-tab-body-wrapper {
        padding-bottom: 60px !important;
      }

      .filter-dialog-panel {
        .mat-dialog-container {
          background-color: var(--bg-default);
        }
      }
    }
  }

}

.vertical-tabs {
  @extend .horizontal-tabs;

  .mat-tab-label {
    margin-top: 5px;
  }

  .mat-tab-group {
    flex-direction: row;
  }

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-tab-body-wrapper {
    padding-left: 10px;
  }

  .mat-tab-label-container {
    overflow-y: auto;
  }

  mat-tab-body {
    min-height: 100px;
  }
}
