<div #multiselect class="pm-multi-select cursor-pointer border-radius-{{borderRadius}}" (click)="$event.stopPropagation(); openSelect();">
  <div class="d-flex flex-wrap p-1 rad-md position-relative" (click)="trigger.openPanel()">
    <div class="d-flex flex-row justify-content-start flex-wrap">
      <div *ngFor="let selected of selectedOptions; let first = first" [ngClass]="{'m-1 chip-container': true}">
        <div class="d-flex flex-row align-items-center">
          <ng-container *ngTemplateOutlet="thumbnailContainer; context: {$implicit: selected, marginStart: true}"></ng-container>
          <p class="m-0 ms-1">{{selected.label}}</p>
          <button class="btn btn-light" (click)="$event.stopPropagation(); removeSelectedOption(selected)">x</button>
        </div>
      </div>
    </div>
    <form style="min-height: 31px">
      <input #inputBox
             #trigger="matAutocompleteTrigger"
             name="searchInput"
             [hidden]="!observableInput && (selectedOptions.length === options.length || (!!limit && selectedOptions.length >= limit))"
             matInput
             class="form-control h-100 border-0"
             type="text"
             [formControl]="myControl"
             [placeholder]="placeholder"
             [matAutocomplete]="auto"
             [required]="false"
      >

      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="selectOption($event.option.value);"
                        [panelWidth]="multiselect?.offsetWidth"
                        [displayWith]="displayFn"
      >
        <ng-container *ngIf="(filteredOptions | async) as fOptions; else loadingObservableNoResultsTemplate">
          <mat-option *ngIf="fOptions?.length <= 0 && _observableInputLoading">
            <ng-container *ngTemplateOutlet="loadingObservableTemplate"></ng-container>
          </mat-option>
          <ng-container *ngIf="fOptions?.length > 0">
            <ng-container *ngFor="let option of fOptions">
              <mat-option
                [hidden]="isOptionSelected(option)"
                [value]="option"
              >
                <div class="d-flex flex-row align-items-center">
                  <ng-container *ngTemplateOutlet="thumbnailContainer; context: {$implicit: option}"></ng-container>
                  <span class="color-gray-dark" [ngClass]="{'ms-2': option?.thumbnail}">{{option.label}}</span>
                </div>
              </mat-option>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-autocomplete>
    </form>
    <div class="position-absolute d-flex h-100 justify-content-center align-items-center mx-3" style="right: 0;">
      <ng-container [ngSwitch]="_observableInputLoading">
        <span *ngSwitchCase="true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i *ngSwitchCase="false" class="uil uil-lg uil-angle-down"></i>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #thumbnailContainer let-option let-marginStart="marginStart">
  <div *ngIf="option?.thumbnail" class="pm-multi-select-thumbnail-container" [ngClass]="{'ms-2': marginStart, 'circular': roundedThumbnail, 'mx-2': roundedThumbnail}">
    <img
      aria-hidden
      [src]="option.thumbnail"
      height="25"
    >
  </div>
</ng-template>

<ng-template #loadingObservableTemplate>
  <div class="p-3">
    <div *ngIfLoaded="false"></div>
  </div>
</ng-template>

<ng-template #loadingObservableNoResultsTemplate>
  <mat-option>
    <div class="p-3">
      <p>Nada aqui</p>
    </div>
  </mat-option>
</ng-template>
